.result {
  font-family: "Roboto", monospace;
  background-color: black;
  font-size: 50px;
  color: white;
  height: 100px;
  width: 390px;
  padding-right: 10px;
  align-items: center;
  justify-content: flex-end;
}

.calRow {
  display: flex;
}

button {
  font-family: "Roboto", monospace;
  font-size: 40px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.symbol,
.number {
  color: #000000;
  background-color: #d8d9db;
}

.symbol:hover,
.number:hover {
  background-color: #f0f0f0;
}

.sign {
  color: #ffffff;
  background-color: #df974c;
  border-width: 0.5px;
}
.sign:hover {
  background-color: #efcba4;
}

#zero {
  width: 300px;
}

#C {
  width: 200px;
}
